<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/General.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/styles/carCardStyle.css"
    />
    >
    <link rel="stylesheet" href="/static/styles/shopPageStyle.css" />
    <title>Våra Bilar - Biluthyrning AB</title>
  </head>
  <body>
    <header>
      <h1>Biluthyrning AB</h1>
    </header>
    <div id="page-layout">
      <main id="main">
        <form id="searchForm" th:action="@{/searchAllCars}" method="get">
          <h2 id="searchheader">Sök efter din dröm bil!</h2>
          <div id="searchinputs">
            <div class="searchfields">
              <div class="searchcontainer">
                <label for="carBrand">Märke:</label>
                <select name="carBrand" id="carBrand" class="dropbox">
                  <option value=""></option>
                  <option value="Audi">Audi</option>
                  <option value="Bentley">Bentley</option>
                  <option value="BMW">BMW</option>
                  <option value="Bugatti">Bugatti</option>
                  <option value="Chrysler">Chrysler</option>
                  <option value="Fiat">Fiat</option>
                  <option value="Ford">Ford</option>
                  <option value="Honda">Honda</option>
                  <option value="Hyundai">Hyundai</option>
                  <option value="Jeep">Jeep</option>
                  <option value="Kia">Kia</option>
                  <option value="Lexus">Lexus</option>
                  <option value="Mazda">Mazda</option>
                  <option value="MercedezBenz">MercedezBenz</option>
                  <option value="Nissan">Nissan</option>
                  <option value="Opel">Opel</option>
                  <option value="Peugot">Peugot</option>
                  <option value="Porsche">Porsche</option>
                  <option value="Renault">Renault</option>
                  <option value="SEAT">SEAT</option>
                  <option value="Suzuki">Suzuki</option>
                  <option value="Tesla">Tesla</option>
                  <option value="Toyota">Toyota</option>
                  <option value="Volkswagen">Volkswagen</option>
                  <option value="Volvo">Volvo</option>
                </select>
              </div>
              <div class="searchcontainer">
                <label for="carName">Modell:</label>
                <input
                  type="text"
                  id="carName"
                  name="carName"
                  class="searchinput"
                /><br />
              </div>
              <div class="searchcontainer">
                <label for="carType">Biltyp:</label>
                <select name="carType" id="carType" class="dropbox">
                  <option value=""></option>
                  <option value="Combi">Combi</option>
                  <option value="Convertible">Convertible</option>
                  <option value="Coupe">Coupe</option>
                  <option value="Crossover">Crossover</option>
                  <option value="Hybrid">Hybrid</option>
                  <option value="Minivan">Minivan</option>
                  <option value="Sedan">Sedan</option>
                  <option value="SportsCar">SportsCar</option>
                  <option value="SUV">SUV</option>
                  <option value="Truck">Truck</option>
                </select>
              </div>
              <button id="searchCarsButton" type="submit">Sök</button>
            </div>
            <div class="searchfields">
              <div class="searchcontainer">
                <label for="carSeats">Säten:</label>
                <input
                  type="text"
                  id="carSeats"
                  name="carSeats"
                  class="searchinput"
                /><br />
              </div>
              <div class="searchcontainer">
                <label for="automatic">Växellåda:</label>
                <select name="automatic" id="automatic" class="dropbox">
                  <option value=""></option>
                  <option value="Automatic">Automatic</option>
                  <option value="Manual">Manual</option>
                </select>
              </div>
              <div class="searchcontainer">
                <label for="engineType">Motortyp:</label>
                <select name="engineType" id="engineType" class="dropbox">
                  <option value=""></option>
                  <option value="Gasoline">Gasoline</option>
                  <option value="Diesel">Diesel</option>
                  <option value="Electric">Electric</option>
                  <option value="Hybrid">Hybrid</option>
                  <option value="CNG">CNG</option>
                </select>
              </div>
              <label for="startDate">Datum för upphämtning</label>
              <input type="date" id="startDate" name="startDate" required />
            </div>
            <div class="searchfields">
              <div class="searchcontainer">
                <label for="milage">Miltal:</label>
                <input
                  type="text"
                  id="milage"
                  name="milage"
                  class="searchinput"
                /><br />
              </div>
              <div class="searchcontainer">
                <label for="carYear">Bilår:</label>
                <input
                  type="text"
                  id="carYear"
                  name="carYear"
                  class="searchinput"
                /><br />
              </div>
              <div class="searchcontainer">
                <label for="pricePerDay">Max pris/Dag:</label>
                <input
                  type="text"
                  id="pricePerDay"
                  name="pricePerDay"
                  class="searchinput"
                /><br />
              </div>
              <label for="endDate">Datum för inlämning</label>
              <input type="date" id="endDate" name="endDate" />
            </div>
          </div>
        </form>
        <div id="shopgrid"></div>
      </main>
    </div>
    <footer>
      <p>© 2024 Biluthyrning AB. Alla rättigheter förbehållna.</p>
      <p>Kontakta oss: info@biluthyrningab.se</p>
    </footer>
    <script src="/static/scripts/menuClass.js"></script>
    <script src="/static/scripts/carClass.js"></script>
    <script src="/static/scripts/contractClass.js"></script>
    <script src="/static/scripts/carGenerationClass.js"></script>
    <script src="/static/scripts/shopPageLoad.js"></script>
  </body>
</html>
