<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car-Rentals</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/styles/carCardStyle.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/styles/homePageStyle.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/styles/General.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css" />
  </head>
  <body>
    <header>
      <h1 id="textheader">Välkommen till Biluthyrning AB</h1>
    </header>
    <main id="main">
      <div id="content">
        <div id="startinfo">
          <h1 id="bestdealsheader">Dagens Deals!</h1>
        </div>
        <div id="productdealscontainer">
          <div id="leftBtn"></div>
          <div id="productscontainer"></div>
          <div id="rightBtn"></div>
        </div>
      </div>
    </main>
    <footer>
      <p>© 2024 Biluthyrning AB. Alla rättigheter förbehållna.</p>
      <p>Kontakta oss: info@biluthyrningab.se</p>
    </footer>
    <script src="/static/scripts/menuClass.js"></script>
    <script src="/static/scripts/carClass.js"></script>
    <script src="/static/scripts/carGenerationClass.js"></script>
    <script src="/static/scripts/homePageLoad.js"></script>
  </body>
</html>
